.contact-title{
  font-weight: bold;
  font-size: 50px;
  color: #fefefe;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:30px;
  margin-bottom: 60px;
}

.pg-container{
  display: flex;
  justify-content: center;
  font-size:20px;
}

.message-container{
  display: flex;
  flex-direction:column;
}

.message-title{
  font-size: 20px;
  margin-bottom: 20px;
}

.message-container label{
  width: 200px;
}



.message-container textarea{
  width: 500px;
  height:50px;
  border:5px;
  border-color: white;
  background-color: #292828;
  color: #fefefe;
  margin-bottom: 20px;
  border-radius: 5px;
  resize: none;
  font-size:20px;
  text-align: justify;
  display: flex;
  margin-top: 20px;
}

.message-container input{
  width: 500px;
  height:50px;
  border:5px;
  border-color: white;
  background-color: #292828;
  color: #fefefe;
  margin-bottom: 20px;
  border-radius: 5px;
  resize: none;
  font-size:20px;
  text-align: justify;
  display: flex;
  padding-left: 5px;
  margin-top: 20px;
  
}


.message-container .inputm{
  width: 500px;
  height:150px;
  text-align: initial;
  padding-top: 10px;
  padding-left: 5px;
}

.buttons-container{
  padding:10px 0;
  display: flex;
  justify-content:center;
  gap:20px;
}
.buttons-container button{
  width:90px;
  height:40px;
  
}

.send-btn,.reset-btn{
  background-color: #0075FF;
  color: #fefefe;
  border-color: #fefefe;
  font-size: 15px;
  border:none;
  border-radius: 4px;
  cursor: pointer;
}

.send-btn:disabled,
.reset-btn:disabled{
opacity:.6;
background-color: #666666;
}

.buttons-container button:hover{
  opacity: 60%;
  transition: ease 0.5s; 
  transition: all 0.2s ease-in-out;
  transform: scale(1.1); 
}


.pg-container{
  display: flex;
  gap: 50px;
}

.extra-container{
  list-style: none;
}

.extra-content{
  display: flex;
  flex-direction: column;
}
  
  
.extra-content li{
margin-bottom: 38px; 
}

.extra-label{
  gap:5px;
  display: flex;
  align-items: center;
  justify-items: center;
}


.error-message{
  background-color: rgba(255,0,0, .2);
  border-radius: 5px;
  margin-bottom: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

/* .error-message :active{
  background-color: rgba(255,0,0, .2);
  border-radius: 5px;
 
} */


alert{
  background-color: red;
}